<mat-toolbar color="primary">
    <mat-toolbar-row class="main">
        <div class="main-logo">
            <span class="mr-1 logo-text">CORONA STATS </span>
            <mat-icon class="logo-icon">bubble_chart </mat-icon>
        </div>

        <div class="header-buttons">

            <!-- <div class="donation header-donation-btn">
                <button mat-raised-button (click)="openDonationForm()">Donate Now </button>
            </div> -->
            <div class="donation header-donation-btn">
                <button mat-raised-button color="accent" (click)="openGoogle()">Learn More
                    <mat-icon>rss_feed</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>