<div class="card text-white mb-3" style="max-width: 18rem;">
    <div class="card-header bg-secondary text-center case-text">Today's Cases</div>
    <div class="card-body text-dark text-center">
        <h1 class="count-value">{{counts.todayCases}}</h1>
    </div>
</div>
<div class="card text-white mb-3 rounded-0" style="max-width: 18rem;">
    <div class="card-header bg-primary text-center case-text">Total Cases</div>
    <div class="card-body text-dark text-center">
        <!-- <h5 class="card-title">Primary card title</h5> -->
        <h1 class="count-value">{{counts.cases}}</h1>
    </div>
</div>
<div class="card text-white mb-3 rounded-0" style="max-width: 18rem;">
    <div class="card-header bg-dark text-center case-text">Recovered Cases</div>
    <div class="card-body text-dark text-center">
        <!-- <h5 class="card-title">Primary card title</h5> -->
        <h1 class="count-value">{{counts.recovered}}</h1>
    </div>
</div>
<div class="card text-white mb-3" style="max-width: 18rem;">
    <div class="card-header bg-danger text-center case-text">Death Cases</div>
    <div class="card-body text-dark text-center">
        <h1 class="count-value">{{counts.deaths}}</h1>
    </div>
</div>