<div class="row">
    <div class="offset-md-2 col-sm-3 cards">
        <div class="card text-white bg-dark m-3" style="max-width: 20rem;">
            <div class="card-header text-center">
                <b>Funds Raised</b>
            </div>
            <div class="card-body bg-white text-dark">
                <h5 class="card-title">
                    <h2 class="dash-text">{{205097 | currency:'INR'}}</h2>
                </h5>
            </div>
        </div>
    </div>
    <div class="offset-md-1 col-sm-3 cards">
        <div class="card text-white bg-dark m-3" style="max-width: 20rem;">
            <div class="card-header">
                <b>Donors</b>
            </div>
            <div class="card-body bg-white text-dark">
                <h5 class="card-title">
                    <h2 class="dash-text">2602</h2>
                </h5>
            </div>
        </div>
    </div>
</div>